.gitbook-link {
    display: none!important ;
}

p {
    text-indent: 2em;
}

img{
    width: 85%;
    padding-left: 5%;
    padding-right: 5%;
}

.page-inner {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 15px 40px 15px;
}
